<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Adrianistán{% endblock %}</title>
    <link rel="stylesheet" href="/static/fonts.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="alternate" type="application/rss+xml" title="Adrianistán" href="/rss.xml">
  </head>
  <body>
    <header>
      <a class="title black-link" href="/">Adrianistán</a>
      <nav>
	<a class="black-link" href="/faqs/">Sobre mí</a>
	<a class="black-link" href="/archivo/">Archivo</a>
	<a class="black-link" href="https://adrianistan.eu/">Proyectos</a>
      </nav>
    </header>
    <main>
      {% block main %}{% endblock %}
    </main>
    <footer>
      <div>&copy; Adrián Arroyo Calle / 2012 - 2024</div>
      <div>Contenido bajo licencia Creative-Commons 4.0 BY-NC-SA salvo que se indique lo contrario.</div>
      <div>Este blog es gestionado con <a href="https://github.com/aarroyoc/delibes">Delibes</a>, un sistema de blogging ejecutado sobre <a href="https://www.scryer.pl">Scryer Prolog</a></div>
    </footer>
    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
    (function(f, a, t, h, o, m){
	    a[h]=a[h]||function(){
		    (a[h].q=a[h].q||[]).push(arguments)
	    };
	    o=f.createElement('script'),
	    m=f.getElementsByTagName('script')[0];
	    o.async=1; o.src=t; o.id='fathom-script';
	    m.parentNode.insertBefore(o,m)
    })(document, window, '//stats.adrianistan.eu/tracker.js', 'fathom');
    fathom('set', 'siteId', 'PEEGA');
    fathom('trackPageview');
    </script>
    <!-- / Fathom -->    
  </body>
</html>
